@import 'utils';


.background {
    z-index: -1;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background-color: $color-bg;

    animation: shoot-down 1.5s $anim-curve forwards;

    &.up {
        animation-name: shoot-up;
    }

    svg {
        position: absolute;
        width: 100%;
        height: 100%;

        stroke-width: 4px;
        fill: none;

        path {
            transition: d;
            transition-timing-function: $anim-curve;
            animation: waves-breath ease-in-out infinite alternate;
            filter: drop-shadow(0 0 3px rgba($color-fg, 0.8));
            transform-origin: 50% 50%;

            &#waves-path-1 {
                opacity: $opacity-low;
                stroke: #a0d0f0;
                transition-duration: 1s;
                animation-duration: 6s;
            }

            &#waves-path-2 {
                opacity: $opacity-low;
                stroke: #d0f0d0;
                transition-duration: 3s;
                animation-duration: 5s;
                animation-delay: -2s;
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        background: linear-gradient(90deg, $color-bg, transparent, $color-bg);
    }
}


@keyframes waves-breath {
    0% {
        transform: rotate(0deg) scale(1.05);
    }
    100% {
        transform: rotate(5deg) scale(1);
    }
}


@keyframes shoot-down {
    0% {
        bottom: 65%;
    }
}

@keyframes shoot-up {
    100% {
        bottom: 65%;
    }
}