@import 'utils';


html {
    font-size: 20px; // set 1rem
}

body {
    font-family: 'Now';
    font-weight: bold;
    background: $color-bg;
    color: $color-fg;
    margin: 0;
    padding: 0;
    height: 100vh;
}

a {
    position: relative; // required for hover underline to work properly
    color: $color-accent;
    opacity: $opacity-high;
    font-weight: bold;
    text-decoration: none;

    transition: all $anim-dur-short $anim-curve;

    &::after {
        content: '..';
        font-size: .9rem;
        vertical-align: top;
        mask-image: url('../assets/link.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        background-color: $color-accent;
        margin-left: 2px;
        margin-right: -2px;

    }

    &::before {
        content: '';
        background-color: $color-accent;
        position: absolute;
        height: 1px;
        bottom: 0;

        transition: all $anim-dur-short $anim-curve;
        left: 50%;
        width: 0;
        opacity: 0;
    }

    &:hover {
        opacity: $opacity-max;

        &::before {
            opacity: $opacity-max;
            left: 0;
            width: 100%;
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $color-fg;

    padding-bottom: 15px;
    opacity: $opacity-low;
    font-size: .75rem;
    text-align: right;
    transition: all $anim-dur-med $anim-curve;
}


.container>* {
    animation-name: slide-in;
    animation-duration: $anim-dur-med;
    animation-timing-function: $anim-curve;
    animation-fill-mode: both;

    // animation-delay: .1s;

    // &.title, &.header, &.back-button {
    //     animation-name: none;
    //     animation-delay: 0s;
    // }

    // &.links-container {
    //     animation-delay: .2s;
    // }

    &:nth-child(1) {
        animation: none;
    }

    @for $i from 1 through 9 {
        &:nth-child(#{$i+1}) {
            animation-delay: $i * .1s;
        }
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
}