@import 'utils';


html {
    font-size: 20px; // set 1rem
}

body {
    font-family: 'Now';
    background: $color-bg;
    color: $color-fg;
    margin: 0;
    padding: 0;
    height: 100vh;
}

a {
    color: rgba($color-fg, $opacity-med);
    font-weight: bold;

    transition: color $anim-dur-short $anim-curve;

    &:hover {
        color: rgba($color-fg, $opacity-max);
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $color-fg;

    padding-bottom: 15px;
    opacity: $opacity-low;
    font-size: .75rem;
    text-align: right;
    transition: all $anim-dur-med $anim-curve;
}