@import 'utils';


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 800px;
    max-width: calc(100% - 100px);
    color: $color-fg;

    .header {
        font-family: 'Antipasto';
        font-weight: normal;
        font-size: 3em;
        opacity: $opacity-high;
    }

    p {
        color: rgba($color-fg, $opacity-med);
    }
}


.back-button {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -80px;
    top: -6px;
    transform: scale(67%);
    padding: 2px 20px 20px 10px;
    cursor: pointer; // handle click in js
    opacity: $opacity-med;
    transition: all $anim-dur-med $anim-curve;

    &:hover {
        opacity: $opacity-high;
        transition: all $anim-dur-long $anim-curve;
    }

    .back-arrow {
        margin: 15px auto;
        width: 25px;
        height: 25px;
        border-top: 3px solid $color-fg;
        border-left: 3px solid $color-fg;
        transform: rotate(-45deg);

        &::after {
            content: "";
            display: block;
            width: 3px;
            height: 45px;
            background-color: $color-fg;
            transform: rotate(-45deg) translate(15px, 4px);
            left: 0;
            top: 0;
        }
    }
}


img.me {
    margin-top: .25rem;
    border-radius: 40%;
    width: 7.5rem;
}