@import 'variables';


.container {
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 800px;
    max-width: calc(100% - 150px);
    height: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $base-color;
    animation: content-fade-in $anim-dur-med $anim-curve forwards;
    display: table; // match height of child

    .header {
        font-family: 'Antipasto';
        font-size: 3em;
        user-select: none;
        cursor: pointer; // click added in js
        opacity: $opacity-max;
    }

    p {
        color: rgba($base-color, $opacity-4);
    }

    &.title-container {
        animation-name: title-fade-in;

        .title {
            font-family: 'Antipasto';
            font-size: 5.5rem;
            margin-left: .07ch;
            user-select: none;
            opacity: $opacity-max;
        }

        .subtitle {
            font-size: 1.1rem;
            opacity: $opacity-4;
            margin-top: 0.5rem;
        }

        .links-container {
            margin-top: 2rem;

            a {
                text-decoration: none;
                margin: 0 1ch;
                font-weight: bold;
                letter-spacing: .08ch;
                cursor: pointer;

                &::before,
                &::after {
                    font-size: 80%;
                    margin-right: .5ch;
                }

                &::before {
                    content: '>';
                }
            }
        }
    }
}

@keyframes title-fade-in {
    from {
        opacity: $opacity-1;
        top: 45%;
    }

    to {
        opacity: $opacity-max;
    }
}

@keyframes content-fade-in {
    from {
        opacity: $opacity-1;
        top: 55%;
    }

    to {
        opacity: $opacity-max;
    }
}



.back-button {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -80px;
    top: -6px;
    transform: scale(67%);
    padding: 2px 20px 20px 10px;
    cursor: pointer; // handle click in js
    opacity: $opacity-2;
    transition: all $anim-dur-med $anim-curve;

    &:hover {
        opacity: $opacity-max;
        transition: all $anim-dur-long $anim-curve;
    }

    .back-arrow {
        margin: 15px auto;
        width: 25px;
        height: 25px;
        border-top: 3px solid $base-color;
        border-left: 3px solid $base-color;
        transform: rotate(-45deg);

        &::after {
            content: "";
            display: block;
            width: 3px;
            height: 45px;
            background-color: $base-color;
            transform: rotate(-45deg) translate(15px, 4px);
            left: 0;
            top: 0;
        }
    }
}

img.me {
    margin-top: .25rem;
    border-radius: 40%;
    width: 150px;
}