@import 'utils';


.container.title-container {
    animation-name: title-fade-in;
    width: 800px;
    max-width: 100%;
    text-align: center;


    .title {
        font-family: 'Antipasto';
        font-weight: normal;
        font-size: 5rem;
        margin-left: .07ch;
        user-select: none;
        opacity: $opacity-high;
    }

    .subtitle {
        font-size: 1.2rem;
        opacity: $opacity-med;
        margin-top: 0.4rem;
    }

    .links-container {
        line-height: 2em;
        // width: 400px;
        max-width: 100%;
        margin: 2em auto;

        a {
            position: relative;
            margin: 0 1ch;
            font-size: 1.1rem;
        }
    }
}


@keyframes title-fade-in {
    from {
        opacity: 0;
        top: 40%;
    }

    to {
        opacity: 1;
    }
}


.link-icon::after {
    content: '';
    display: inline-block;
    mask-image: url('../assets/external-link.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: $color-accent;
    margin-left: .2ex;
    margin-bottom: .4ex;
    width: .7em; // 70% of font size
    height: .7em;
}