@import 'variables';


html,
body {
    font-size: 20px;
    font-family: 'Now';
    background-color: $bg-color;
}

a {
    color: rgba($base-color, $opacity-3);
    font-weight: bold;

    transition: color $anim-dur-short $anim-curve;

    &:hover {
        color: rgba($base-color, $opacity-max);
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $base-color;

    padding: 10%; // for fade in when mouse is close
    padding-bottom: 15px;
    opacity: $opacity-1;
    font-size: .75rem;
    text-align: right;
    transition: all $anim-dur-med $anim-curve;
}