@import 'utils';


html {
    font-size: 20px; // set 1rem
}

body {
    font-family: 'Now';
    font-weight: bold;
    background: $color-bg;
    color: $color-fg;
    margin: 0;
    padding: 0;
    height: 100vh;
}

// content switcher
.container {
    @for $i from 1 through 9 {
        :nth-child(#{$i}) {
            transition: all $anim-dur-med $anim-curve;
            transition-delay: $i * .1s;
        }
    }

    &.container-hidden {
        opacity: 0;
        pointer-events: none;

        & > * {
            opacity: 0 !important;
            transform: translateY(100px); // content slides up
        }

        &.title-container > * {
            transform: translateY(-100px); // home page slides down
        }
    }
}

a {
    color: $color-accent;
    // opacity: $opacity-med;
    font-weight: bold;
    text-decoration: none;

    transition: all $anim-dur-short $anim-curve;

    &:hover {
        opacity: $opacity-high;

        text-decoration: underline 1px;
    }
}

span.link-icon {
    display: inline-block;
    mask-image: url('../assets/external-link.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: $color-accent;
    margin-left: .2ex;
    margin-bottom: .4ex;
    width: .7em; // 70% of font size
    height: .7em;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $color-fg;

    padding-bottom: 15px;
    opacity: $opacity-low;
    font-size: .75rem;
    text-align: right;
    transition: all $anim-dur-med $anim-curve;
}