$bg-color: #111;
$base-color: #c0d0d0;
$anim-curve: cubic-bezier(.2, 1, .4, 1); // snappy ease-out
$opacity-max: 1;
$opacity-4: .8; // 1-.4^4
$opacity-3: .6; // 1-.4^3
$opacity-2: .4; // 1-.4^2
$opacity-1: .2; // 1-.4^1
$anim-dur-long: .8s;
$anim-dur-med: .6s;
$anim-dur-short: .4s;
$content-max-width: 860px;

@font-face {
    font-family: Antipasto;
    font-weight: normal;
    src: url('../assets/antipasto-light.ttf') format('truetype');
}

@font-face {
    font-family: Now;
    font-weight: normal;
    src: url('../assets/Now-Thin.otf') format('truetype');
}