@import 'base';

#editor.ql-container {
	border: none;

	& > div.ql-editor {
		width: 100%; // +17px added in js if scrollbar appears
		max-width: 80ch; // after padding it's 70ch
		margin-top: 0;
		box-shadow: none;
		border-radius: 0px;
		padding: 5ch;
		padding-top: 8ch;
		height: 100vh;
		
		&::-webkit-scrollbar { // hide scrollbar on windows
			display: none;
		}

		background-color: var(--editor-bg-color);

		&.editor-remove-top-padding {
			// use this when toolbar auto-hide is disabled
			padding-top: 5ch;
		}

		margin-left: auto;
		margin-right: auto;

		transition: all $anim-dur-med $anim-curve;
	}
}

// when window pretty big (probably not the default for most)
// if you change the min values \/\/\/ make sure to change them in focusmode.js
// @media screen and (min-width: 830px) and (min-height: 750px) {
// 	#editor.ql-container > div.ql-editor {
// 		max-width: 84ch; // still 70ch with padding changes
// 		padding: 5ch 7ch;

// 		margin-top: 60px;
// 		height: calc(100vh - 80px);
// 		box-shadow: 0 0 10px var(--page-shadow-color);
// 		border-radius: 8px;

// 		&.editor-remove-top-padding {
// 			// use this when toolbar auto-hide is disabled
// 			margin-top: 30px;
// 			height: calc(100vh - 60px);
// 		}
// 	}

// 	html, body {
// 		background-color: var(--bg-color) !important;
// 	}
// }