@import 'base';

.ql-tooltip { display: none !important; }

// context highlight anim
// #editor.ql-container > div.ql-editor span {
//     animation: new-context-highlight 1s linear forwards;
// }

@keyframes new-context-highlight {
    0% { background-color: rgba(0,0,0,.06); }
    100% { background-color: rgba(0,0,0,0); }
}

#editor.ql-container > div.ql-editor a,  // ai suggestions inserted as links for styling
.aicfg-demo-suggestion {
    text-decoration: none; // remove underline
    color: var(--font-color);
    font-style: italic;
    cursor: pointer;
    transition: none;
    font-weight: normal; // in case previous text bold

    font-size: 95%;
    // padding: 10px 14px 10px 0; // make it easier to click, especially on mobile

    // for slide-in anim
    left: -50px;
    position: relative;
    opacity: 0;

    &.suggestion-visible {
        transition: opacity $anim-dur-med $anim-curve,
                    left $anim-dur-med $anim-curve;
        opacity: .4;
        left: 0;

        &:hover {
            opacity: .7;
        }

        // &::after {
        //     content: 'Click or press Tab to accept suggestions';

        //     position: absolute;
        //     top: calc(100% + 10px);
        //     left: 0;
        //     font-style: normal;
        //     font-size: 75%;
        //     padding: 3px 8px 2px 8px;
        //     font-family: 'Metropolis', sans-serif;
        //     border-radius: 10px;

        //     background-color: var(--pure-black);
        //     color: var(--pure-white);
        //     pointer-events: none;

        //     opacity: 0;
        //     animation: hint-fade-in 2s $anim-curve 2s forwards;

        //     &:hover {
        //         opacity: 0 !important;
        //     }
        // }
    }
}

@keyframes hint-fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

// loading dots animation for suggestions
.gpt-loading-dots {
    position: absolute;
    top: 0; left: 0;
    width: 20px;
    height: 20px;
    margin-top: 17px;
    margin-left: 6px;
    pointer-events: none; // otherwise blocks clicking suggestion

    opacity: 0;
    transition: opacity $anim-dur-fast $anim-curve;

    &.gpt-loading-dots-visible {
        opacity: 1; 
        transition: opacity $anim-dur-really-slow $anim-curve;  // slowly fade in
    }

    & .loading-dot {
        position: absolute;
        width: 3px; height: 3px;
        border-radius: 50%;

        // match suggestion color
        background-color: var(--font-color); opacity: .4;

        &.loading-dot-1 {
            left: 5%;
            animation: loading-dot-bounce .8s infinite 0s;
        }
        &.loading-dot-2 {
            left: 50%;
            transform: translateX(-50%);
            animation: loading-dot-bounce .8s infinite .2s;
        }
        &.loading-dot-3 {
            right: 5%;
            animation: loading-dot-bounce .8s infinite .4s;
        }
    }
}

@keyframes loading-dot-bounce {
    0%, 60%, 100% { top: 1px; }
    30% { top: -2px; }
}