@import 'base';

body .loading-overlay {
    z-index: 99999; // above EVERYTHING, even login popups etc
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--editor-bg-color);
    opacity: 0;
    transition: opacity .5s linear; // fade out slow
    pointer-events: none;

    &.loading-overlay-active, &.first-loading-overlay-active {
        transition: opacity $anim-dur-fast $anim-curve; // fade in fast
        pointer-events: auto;
        opacity: 1;

        & .loading-spinner {
            animation: spin 1s ease-in-out infinite;
        }
    }

    & .loading-spinner {
        content: '';
        position: absolute;
        width: 200px;
        height: 3px;
        left: calc(50% - 100px);
        top: calc(50% + 15px);
        background-color: var(--mid-grey);
        z-index: 1;
    }

    & .loading-text {
        position: absolute;
        left: 0; right: 0;
        top: calc(50% - 15px);
        text-align: center;
        line-height: 30px; height: 30px;
        font-size: 18px;
        vertical-align: middle;
        color: var(--mid-grey);
        z-index: 0;
        font-family: 'Metropolis', sans-serif;
        letter-spacing: .2px;
    }
}

@keyframes spin {
    0% {
        width: 0;
        left: calc(50% - 100px);
    }
    50% {
        width: 200px;
        left: calc(50% - 100px);
    }
    100% {
        width: 0;
        left: calc(50% + 100px);
    }
}