@import 'base';

$base-opacity: .5;
$hover-opacity: .6;
$active-opacity: .8;

@media (min-width: 880px) {
    body .menubar-container {
        left: 50%; transform: translateX(-50%);
        width: $max-menubar-size;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

.menubar-container {
    border: 1px solid #e2e2e2;
    border-top: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $menubar-height;
    background-color: var(--toolbar-bg-color);
    box-shadow: 0 0 10px var(--toolbar-shadow-color);
    transition: all $anim-dur-med $anim-curve;

    .menubar {
        position: absolute;
        top: 0;
        left: 50%; transform: translateX(-50%);
        width: 100%;
        max-width: $max-menubar-size;
        height: 100%;

        .menubar-logo {
            top: 0;
            left: 0;
            margin-top: 17px;
            margin-left: 50px;
            font-size: 22px;
            color: var(--pure-black); opacity: $hover-opacity;
            display: inline-flex;
            pointer-events: auto;
            cursor: pointer;
            
            transition: all $anim-dur-med $anim-curve;

            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;

            &::after {
                content: $version-num;

                position: relative;
                top: -3px;
                left: 1.5px;
                font-size: 12px;
                color: var(--pure-black); opacity: .7; // multiplies with above
            }
        }

        .menubar-buttons-container {
            position: absolute;
            right: 0;
            margin-right: 45px;
            height: 100%;
            display: inline-flex;

            transition: all $anim-dur-med $anim-curve;

            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;

            .menubar-button {
                margin: auto 2px auto 18px;
                cursor: pointer;
                transition: opacity $anim-dur-med $anim-curve,
                            border-bottom $anim-dur-fast $anim-curve;
                border-bottom: 2px solid rgba(0,0,0,0);

                opacity: $base-opacity;
                &:hover { opacity: $hover-opacity; }
                &.settings-button-active { opacity: $active-opacity; }
                &:hover, &.settings-button-active {
                    border-bottom: 2px solid var(--pure-black);
                }
                
                & img {
                    margin-top: 3px;
                    height: 20px;
                }

                & span {
                    color: var(--pure-black);
                    font-size: 14px;
                    position: relative;
                    top: -4.5px;
                    margin-left: 1px;
                    padding-right: 2px;
                    
                    max-width: 100px; // for animation
                    display: inline-block; // or width doesn't change properly
                    transition: all $anim-dur-med $anim-curve;
                }
            }
        }
    }
}

body.menubar-hidden {
    .menubar-container {
        opacity: 0;
        top: -30px;
    }
}

body .footer {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0; right: 0;
    height: 18px;
    background-color: var(--editor-bg-color);
    box-shadow: 0 0 10px var(--editor-bg-color);
    text-align: center;
    font-size: 12px;

    span {
        position: relative;
        top: 2px;
        margin: 0 10px;
        color: var(--pure-black);
        opacity: .25;

        a {
            color: var(--pure-black);
        }
    }
}