@import 'base';


.editor-blur {
    opacity: 0;
    transition: opacity $anim-dur-med $anim-curve;

    &.editor-blur-on { opacity: 1; }

    pointer-events: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(128,128,128,.1);
    // backdrop-filter: blur(1px);
}

.file-menu-banner, .gpt-menu-banner, .settings-menu-banner, .ql-toolbar {
    z-index: 1010; // above menubar
    position: fixed;
    top: calc(#{$menubar-height} + 8px);
    right: 15px; // THIS IS SET IN SETTINGS-MENU.JS, use 15px as backup
}

// SETTINGS MENUS
.menus-container {
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;

    &.overlay-active { pointer-events: auto; }
    &.settings-menu-open > .settings-menu-banner,
    &.file-menu-open > .file-menu-banner,
    &.gpt-menu-open > .gpt-menu-banner,
    &.feedback-menu-open > .feedback-menu-banner {
        pointer-events: auto;
        opacity: 1;
        transition: opacity $anim-dur-fast $anim-curve,
                    margin-top $anim-dur-fast $anim-curve;
        margin-top: 0;
    }
    
    & .menu-banner {
        position: absolute;
        white-space: nowrap;
        margin-top: -20px;

        transition: opacity $anim-dur-really-fast $anim-curve,
                    margin-top 0 linear $anim-dur-really-fast;
        opacity: 0; // hidden by default, enabled above
        pointer-events: none;
        z-index: 1000;

        background-color: var(--toolbar-bg-color);
        box-shadow: 0 0 8px var(--toolbar-shadow-color);
        border-radius: 8px;
        
        text-align: right;
        overflow: hidden;

        // disable selecting the text/icons in toolbar
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none; // Firefox
        -webkit-user-select: none;
        -webkit-user-drag: none;
        -webkit-text-select: none;

        & .menu-option {
            position: relative;
            left: 0;
            right: 0;
            letter-spacing: 0.2px;
            font-family: 'Metropolis', sans-serif;
            letter-spacing: .2px;
            text-align: left;
            font-size: 13.5px;
            min-width: 70px;
            text-align: left;
            color: var(--mid-grey);
            margin: 0;
            padding: 10px 12px;
            line-height: 12px;
            overflow: hidden;
            align-items: center;
            cursor: pointer;

            &:first-child { padding-top: 13px; }
            &:last-child { padding-bottom: 11px; }
            // just looks better

            &:not(.menu-option-spacer) + .menu-option:not(.menu-option-spacer) {
                border-top: 1.5px solid;
                border-image: linear-gradient(90deg, var(--settings-menu-border-color), transparent) 27;
            }

            &:hover {
                background: var(--settings-menu-border-color);
            }

            & span + span {
                margin-left: .1ch; // spacing between option and status
                margin-right: .5ch;
                opacity: .7;
            }

            &.menu-option-disabled, &.menu-option-comingsoon {
                // background: var(--settings-menu-border-color);
                // cursor: not-allowed;
                pointer-events: none;
                opacity: .7;

                & span + span {
                    opacity: 1;
                }
            }

            &.menu-option-highlighted {
                color: #fff;
                background: #3090d0;

                &:hover {
                    background: #1878b8;
                }
            }

            &.menu-option-spacer {
                height: 0; padding: 1.5px;
                background-color: var(--settings-menu-border-color);
                
            }
        }
    }
}