@import 'base';
@import 'menubar';

.ql-toolbar.ql-snow {
    opacity: 0;
    pointer-events: none;

    // same as menus from settings-menu.scss
    z-index: 1010;
    border: none;
    background-color: var(--toolbar-bg-color);
    box-shadow: 0 0 8px var(--toolbar-shadow-color);
    border-radius: 8px;
    margin-top: -10px;

    padding: 9px 1px 11px 15px;

    transition: opacity $anim-dur-really-fast $anim-curve,
                margin-top 0 linear $anim-dur-really-fast;

    &.ql-toolbar-active {
        pointer-events: auto;
        opacity: 1;
        transition: opacity $anim-dur-fast $anim-curve,
                    margin-top $anim-dur-fast $anim-curve;
        margin-top: 0;
    }

    & button {
        color: var(--pure-black) !important;
        opacity: $base-opacity;
        font-size: 16px;
        transition: opacity $anim-dur-med $anim-curve;
        width: 24px;
        cursor: pointer;

        &:hover {
            opacity: $hover-opacity;
        }

        &.ql-active {
            opacity: $active-opacity;
        }
    }

    & .ql-formats + .ql-formats { // spacing between groups
        margin-left: 0;
    }

    & .ql-bold {
        margin-left: 5px;
    }

    & .ql-bold, & .ql-italic, & .ql-underline {
        margin-right: -2px;
    }

    & .ql-bold {
        font-weight: bold;
    }

    & .ql-italic {
        font-style: italic;
        margin-left: -1px;
    }
    & .ql-underline {
        text-decoration: underline;
    }

    & .ql-header {
        font-size: 18.5px;
        margin-top: -2px;

        &::after {
            font-weight: bold;
            font-size: 60%;
            top: 2px;
            position: relative;
        }
    }

    & .ql-header[value='1'] {
        margin-right: 4px;

        &::after {
            content: "1";
        }
    }
    & .ql-header[value='2'] {
        margin-right: 3.5px;

        &::after {
            content: "2";
        }
    }
    & .ql-header[value='3'] {
        margin-right: -3.5px;
        &::after {
            content: "3";
        }
    }

    & .ql-align, .ql-list { // fix align button icon style to match others
        zoom: 104%;
        margin-left: -3px;
        margin-right: 2px;
        margin-top: .5px;

        &::before {
            zoom: 96.1%; // correct tooltip zoom
        }
    }

    & .ql-image {
        margin-left: -8px;
        margin-top: -.5px;
        transform: scale(130%);
    }

    // disable selecting the text/icons in toolbar
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none; // Firefox
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-text-select: none;
}

.ql-snow .ql-stroke { // fix bullet/list icon colour (originally blue)
    stroke: var(--pure-black) !important;
}

.settings-menu-option-update {
    background-color: var(--download-color) !important;

    &:hover {
        background-color: var(--download-hover-color) !important;
    }

    & span {
        color: #fff //var(--pure-white);
                    // ^ nah cus we need it white here in dark mode too
    }
}