@font-face {
  font-family: Antipasto;
  font-weight: normal;
  src: url("./assets/antipasto-light.ttf") format("truetype");
}
@font-face {
  font-family: Now;
  font-weight: normal;
  src: url("./assets/Now-Thin.otf") format("truetype");
}
html {
  font-size: 20px;
}

body {
  background-color: #111;
  overflow-y: hidden;
  font-family: "Now";
}

.title-container {
  position: absolute;
  left: -60px;
}
.title-container .title {
  font-family: "Antipasto";
  font-size: 5.5rem;
  margin-left: 0.07ch;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 1;
}
.title-container .title-underthing {
  font-size: 1.1rem;
  opacity: 0.8;
}
.title-container .links-container {
  margin-top: 2rem;
}
.title-container .links-container a {
  text-decoration: none;
  margin: 0 1ch;
  font-weight: bold;
  letter-spacing: 0.08ch;
  cursor: pointer;
}
.title-container .links-container a::before, .title-container .links-container a::after {
  font-size: 80%;
  margin-right: 0.5ch;
}
.title-container .links-container a::before {
  content: ">";
}

.content-container {
  position: absolute;
  top: 50%;
  bottom: 30%;
  width: 60%;
  max-width: 860px;
  left: 50%;
  transform: translateX(-50%);
  color: #c0d0d0;
  transition: all 0.4s cubic-bezier(0.2, 1, 0.4, 1);
}

.stuff-container {
  position: absolute;
  max-width: 860px;
}
.stuff-container .content-section {
  margin-bottom: 4rem;
}
.stuff-container .content-section .header {
  font-family: "Antipasto";
  font-size: 3em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  opacity: 1;
}
.stuff-container .content-section p {
  color: rgba(192, 208, 208, 0.8);
}

.content-container.page-home .title-container {
  opacity: 1;
  pointer-events: auto;
  bottom: 0;
  transition: all 0.8s cubic-bezier(0.2, 1, 0.4, 1);
}
.content-container.page-home .stuff-container {
  opacity: 0;
  pointer-events: none;
  top: 10vh;
  transition: all 0.6s cubic-bezier(0.2, 1, 0.4, 1);
}

.content-container:not(.page-home) .title-container {
  opacity: 0;
  pointer-events: none;
  bottom: 15vh;
  transition: all 0.3s ease-out;
}
.content-container:not(.page-home) .stuff-container {
  opacity: 1;
  pointer-events: auto;
  top: 0;
  transition: all 0.6s cubic-bezier(0.2, 1, 0.4, 1);
}

.section-about img {
  margin-top: 1rem;
  border-radius: 50%;
  width: 180px;
}

.section-projects .project-link {
  display: inline-block;
  margin: 8px;
  position: relative;
  width: 180px;
  height: 140px;
  padding: 5px;
  background-color: #444;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.4s cubic-bezier(0.2, 1, 0.4, 1);
}
.section-projects .project-link:hover {
  opacity: 1;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}
.section-projects .project-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.section-projects .project-link .project-tag {
  position: absolute;
  width: 180px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  font-size: 0.85rem;
  bottom: 0;
  background-color: #444;
  text-align: center;
}

.content-container .content-section {
  transition: all 0.4s cubic-bezier(0.2, 1, 0.4, 1);
}
.content-container .content-section.chosen-section {
  opacity: 1;
  filter: none;
}
.content-container .content-section:not(.chosen-section) {
  opacity: 0.41;
  filter: blur(1px) grayscale(100%);
}

.back-button {
  position: absolute;
  width: 40px;
  height: 40px;
  left: -76px;
  transform: scale(67%);
  padding: 2px 20px 20px 10px;
  cursor: pointer;
  opacity: 0.64;
  transition: all 0.6s cubic-bezier(0.2, 1, 0.4, 1);
}
.back-button:hover {
  opacity: 1;
  transition: all 0.8s cubic-bezier(0.2, 1, 0.4, 1);
}
.back-button .back-arrow {
  margin: 15px auto;
  width: 25px;
  height: 25px;
  border-top: 3px solid #c0d0d0;
  border-left: 3px solid #c0d0d0;
  transform: rotate(-45deg);
}
.back-button .back-arrow::after {
  content: "";
  display: block;
  width: 3px;
  height: 45px;
  background-color: #c0d0d0;
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}

.scrollbar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: rgba(255, 0, 255, 0.2);
  right: -30px;
  background-color: #c0d0d0;
  opacity: 0.41;
  border-radius: 5px;
  transition: top 0.6s cubic-bezier(0.2, 1, 0.4, 1);
}

.background {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.background svg {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  fill: none;
  stroke-width: 3px;
}
.background svg path {
  transition: d;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.4, 1);
}
.background svg path#waves-path-1 {
  stroke: #444;
}
.background svg path#waves-path-2 {
  stroke: #666;
}
.background .dot {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #555;
  border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.2, 1, 0.4, 1);
  transition-duration: 2s;
  filter: blur(2px);
}

a {
  color: rgba(192, 208, 208, 0.64);
  font-weight: bold;
  transition: color 0.4s cubic-bezier(0.2, 1, 0.4, 1);
}
a:hover {
  color: #c0d0d0;
}

@media screen and (max-width: 860px) {
  .content-container {
    width: 100%;
  }
  .content-container .title-container {
    left: 0;
    width: 100%;
    text-align: center;
  }
  .content-container .title-container .title-underthing {
    font-size: 1rem;
  }
  .content-container .title-container .links-container {
    margin-top: 3rem;
  }
  .content-container .title-container .links-container a {
    margin: 8px 0;
    display: block;
    width: 100%;
  }
  .content-container .title-container .links-container a::after {
    content: " <";
  }
  .content-container .stuff-container {
    left: 80px;
    right: 40px;
  }
  .content-container .stuff-container .back-button {
    left: -70px;
  }
  .content-container .section-about img {
    width: 150px;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #c0d0d0;
  padding: 10%;
  padding-bottom: 15px;
  opacity: 0.41;
  font-size: 0.75rem;
  text-align: right;
  transition: all 0.6s cubic-bezier(0.2, 1, 0.4, 1);
}
.footer:hover {
  opacity: 0.64;
}
.footer.footer-hidden {
  transition: all 0.15s ease-out;
  bottom: 7vh;
  opacity: 0;
}/*# sourceMappingURL=style.css.map */