:root {
    --bg-1: rgb(80,60,90);
    --bg-2: rgb(30,35,50);
    --bg-3: rgb(80,90,120);
    --normal-font-color: #ccc;
    --i-am-color: #999;
    --title-color: #eee;
    --link-bg-color-1: #444;
    --link-bg-color-2: #333;
    --link-bg-color-hover: #444;
    --link-color: #ccc;
    --link-color-hover: #eee;
    
    /* --bg-top: rgb(250,150,100);
    --bg-middle: rgb(240,245,255);
    --bg-bottom: rgb(140,200,250);
    --normal-font-color: #666;
    --i-am-color: #888;
    --title-color: #666;
    --link-color: #777;
    --link-color-hover: #555; */
}

body {
  overflow: hidden;
  background-color: #202022;
  font-size: 20px;
}

@font-face {
  font-family: Branch;
  src: url("Branch.otf") format("opentype");
}

.content-container {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-family: Branch;
  text-align: center;
  z-index: 100;
  width: calc(100% - 8ch);
  max-width: 540px; /* 1 tab each side */
  transition: all .3s cubic-bezier(0, .1, 0, 1);
  transition-delay: 0;
}

.about-text {
    font-family: sans-serif;
    font-weight: 100;
    color: var(--normal-font-color);
    top: 100%;
}

a.buttony-link.about-back {
  position: absolute;
  cursor: pointer;
  margin-top: 20px;
  left: 50%; transform: translateX(-50%);
}

.intro-container { opacity: 1; top: 43%; pointer-events: auto; }
.about-container { opacity: 0; top: 51%; pointer-events: none; }
body.show-about .intro-container { opacity: 0; top: 33%; pointer-events: none; }
body.show-about .about-container { opacity: 1; top: 41%; pointer-events: auto; }

.headline {
  display: inline-flex;
  font-size: 350%;
  vertical-align: middle;
  line-height: 60px;
  margin-bottom: 20px;
  white-space: nowrap;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headline-pt1 {
  margin-right: .55ch;
  margin-top: .02em;
  color: var(--i-am-color);
  font-size: 95%;
}

.headline-pt2 {
  color: var(--title-color);
}


.links-container {
    width: 500px;
    position: relative;
    top: 5px;
    left: 50%; transform: translateX(-50%);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.somewhere-link {
    display: inline-block;
    text-decoration: none;
    color: var(--link-color);
    cursor: pointer; /* since about is not actually <a> */
    margin: 10px 40px;
    transition: all .5s cubic-bezier(0, .1, 0, 1);

}

.somewhere-link:hover {
    color: var(--link-color-hover);
    animation-play-state: paused;
    text-shadow: 0 0 1px var(--link-color);
}

/* .somewhere-link { animation: floaty-links 5s ease-in-out infinite; }
.somewhere-link:nth-child(1) { animation-delay: -1s; }
.somewhere-link:nth-child(2) { animation-delay: -2s; }
.somewhere-link:nth-child(3) { animation-delay: -3s; }
.somewhere-link:nth-child(4) { animation-delay: -4s; }
.somewhere-link:nth-child(5) { animation-delay: -5s; }
.somewhere-link:nth-child(6) { animation-delay: -6s; }
@keyframes floaty-links {
    0%, 100% { transform: translateY(0) translateZ(0); }
    50% { transform: translateY(-3px) translateZ(0); }
} */

.buttony-link {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
    transition: all .5s cubic-bezier(0, .1, 0, 1);

    background: linear-gradient(to right, var(--link-bg-color-1) 0%, var(--link-bg-color-2) 50%);
    background-position: 0 100%;

    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 0 5px;

}

.buttony-link:hover {
  transition: all .2s ease-out;
  color: var(--link-color-hover);
  background: linear-gradient(to right, var(--link-bg-color-1) 0%, var(--link-bg-color-hover) 50%);
}

.buttony-link {
  margin: 8px;
  padding: 1px 11px;
  font-size: 105%;
}

.bg-container {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  z-index: -1;
  background-color: var(--bg-1); /* actually top part of bg */
}

.bg-wave {
  position: fixed;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  transition: transform 1s linear;
}

.bg-wave-1 { animation: wave-anim 9s ease-in-out -3s infinite; }
.bg-wave-2 { animation: wave-anim 6s ease-in-out 0s infinite; }
.bg-wave-1 path {
  fill: var(--bg-2);
}
.bg-wave-2 path {
  fill: var(--bg-3);
}

@keyframes bg-in {
  /* translate3d fixes safari animation issues */
  0% { transform: scale(120%) translate3d(0,0,0); }
  100% { transform: scale(100%) translate3d(0,0,0); }
}

@keyframes wave-anim {
    0%, 100% { transform: scale(100%) translate3d(0,0,0); }
    50% {  transform: scale(110%) translate3d(0,0,0); }
}

/* correct font sizes for mobile */

@media (max-width: 420px) {
    .headline { font-size: 48px; }
    .headline-pt1 { font-size: 90%; }
    .headline-pt2 { font-size: 100%; }
    .buttony-link { font-size: 100%; }
    .about-container { font-size: 100%; }
    .links-container {
        font-size: 100%;
        margin: 0;
        width: 180px;
    }
}