:root {
  --pure-white: #fff;
  --editor-bg-color: #fffefc;
  --font-color: #333;
  --header-color: #111;
  --pure-black: #000;
  --mid-grey: #888;
  --light-grey: #bbb;
  --blue-accent: #3090d0;
  --image-border-color: #888;
  --image-shadow-color: rgba(0,0,0,0.2);
  --toolbar-bg-color: #fff;
  --toolbar-border-color: #bbb;
  --toolbar-shadow-color: rgba(0,0,0,0.2);
  --settings-menu-border-color: #eee;
  --bg-color: #eee;
  --page-shadow-color: var(--toolbar-shadow-color);
  --red-accent: #bd6e6e; }

[theme="dark"] {
  --pure-white: #000;
  --editor-bg-color: #222;
  --font-color: #ddd;
  --header-color: #eee;
  --pure-black: #fff;
  --mid-grey: #777;
  --light-grey: #333;
  --blue-accent: #3090d0;
  --image-border-color: #888;
  --image-shadow-color: rgba(0,0,0,0.2);
  --toolbar-bg-color: #333;
  --toolbar-border-color: #333;
  --toolbar-shadow-color: rgba(0,0,0,0.3);
  --settings-menu-border-color: #202020;
  --bg-color: var(--editor-bg-color);
  --page-shadow-color: transparent;
  --red-accent: #bd6e6e; }
  [theme="dark"] img {
    filter: invert(100%); }

[theme="sepia"] {
  --pure-white: #fff;
  --editor-bg-color: #f5f0e8;
  --font-color: #333;
  --header-color: #111;
  --pure-black: #000;
  --mid-grey: #888;
  --light-grey: #bbb;
  --blue-accent: #3090d0;
  --image-border-color: #888;
  --image-shadow-color: rgba(0,0,0,0.2);
  --toolbar-bg-color: #fff7f0;
  --toolbar-border-color: #bbb;
  --toolbar-shadow-color: rgba(0,0,0,0.2);
  --settings-menu-border-color: #eee;
  --bg-color: #eee;
  --page-shadow-color: var(--toolbar-shadow-color);
  --red-accent: #bd6e6e; }
  [theme="sepia"] img {
    filter: sepia(100%); }

@font-face {
  font-family: 'Latin Modern Roman';
  src: url("../assets/fonts/lmroman10-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Latin Modern Roman';
  src: url("../assets/fonts/lmroman10-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Latin Modern Roman';
  src: url("../assets/fonts/lmroman10-italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Latin Modern Roman';
  src: url("../assets/fonts/lmroman10-bolditalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Metropolis';
  src: url("../assets/fonts/Metropolis-Regular.otf") format("opentype"); }

body {
  background-color: var(--editor-bg-color);
  margin: auto;
  padding: 0;
  font-family: 'Metropolis', sans-serif;
  overflow: hidden; }

.editor-blur {
  opacity: 0;
  transition: opacity 600ms cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.1); }
  .editor-blur.editor-blur-on {
    opacity: 1; }

.file-menu-banner, .gpt-menu-banner, .settings-menu-banner, .ql-toolbar {
  z-index: 1010;
  position: fixed;
  top: calc(56px + 8px);
  right: 15px; }

.menus-container {
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none; }
  .menus-container.overlay-active {
    pointer-events: auto; }
  .menus-container.settings-menu-open > .settings-menu-banner,
  .menus-container.file-menu-open > .file-menu-banner,
  .menus-container.gpt-menu-open > .gpt-menu-banner,
  .menus-container.feedback-menu-open > .feedback-menu-banner {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.19, 1, 0.22, 1), margin-top 300ms cubic-bezier(0.19, 1, 0.22, 1);
    margin-top: 0; }
  .menus-container .menu-banner {
    position: absolute;
    white-space: nowrap;
    margin-top: -20px;
    transition: opacity 150ms cubic-bezier(0.19, 1, 0.22, 1), margin-top 0 linear 150ms;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    background-color: var(--toolbar-bg-color);
    box-shadow: 0 0 8px var(--toolbar-shadow-color);
    border-radius: 8px;
    text-align: right;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-text-select: none; }
    .menus-container .menu-banner .menu-option {
      position: relative;
      left: 0;
      right: 0;
      letter-spacing: 0.2px;
      font-family: 'Metropolis', sans-serif;
      letter-spacing: .2px;
      text-align: left;
      font-size: 13.5px;
      min-width: 70px;
      text-align: left;
      color: var(--mid-grey);
      margin: 0;
      padding: 10px 12px;
      line-height: 12px;
      overflow: hidden;
      align-items: center;
      cursor: pointer; }
      .menus-container .menu-banner .menu-option:first-child {
        padding-top: 13px; }
      .menus-container .menu-banner .menu-option:last-child {
        padding-bottom: 11px; }
      .menus-container .menu-banner .menu-option:not(.menu-option-spacer) + .menu-option:not(.menu-option-spacer) {
        border-top: 1.5px solid;
        border-image: linear-gradient(90deg, var(--settings-menu-border-color), transparent) 27; }
      .menus-container .menu-banner .menu-option:hover {
        background: var(--settings-menu-border-color); }
      .menus-container .menu-banner .menu-option span + span {
        margin-left: .1ch;
        margin-right: .5ch;
        opacity: .7; }
      .menus-container .menu-banner .menu-option.menu-option-disabled, .menus-container .menu-banner .menu-option.menu-option-comingsoon {
        pointer-events: none;
        opacity: .7; }
        .menus-container .menu-banner .menu-option.menu-option-disabled span + span, .menus-container .menu-banner .menu-option.menu-option-comingsoon span + span {
          opacity: 1; }
      .menus-container .menu-banner .menu-option.menu-option-highlighted {
        color: #fff;
        background: #3090d0; }
        .menus-container .menu-banner .menu-option.menu-option-highlighted:hover {
          background: #1878b8; }
      .menus-container .menu-banner .menu-option.menu-option-spacer {
        height: 0;
        padding: 1.5px;
        background-color: var(--settings-menu-border-color); }
